* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 500px;
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 40px;
    padding: 20px;
    border: 1px solid #111;
}

.inputBox {
    width: 100%;
    margin-top: 10px;
}

.inputBox label {
    font-size: 17px;
    font-weight: 500;
}

.inputBox input {
    width: 100%;
    padding: 10px 8px;
    border: 1px solid #afafaf;
    font-size: 14px;
}

.value {
    margin-top: 25px;
    font-size: 17px;
}

.value p {
    font-size: 25px;
    font-weight: 700;
}