* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #17a2b8;
}

.wrapper {
    width: 770px;
    padding: 35px;
    background: #fff;
    border-radius: 10px;
}

.wrapper .input-field {
    z-index: -999;
    opacity: 0;
}

.wrapper .content-container {
    padding: 13px 20px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.content-container .typing-text {
    max-height: 255px;
    overflow-y: auto;
}

.typing-text::-webkit-scrollbar {
    width: 0;
}

.typing-text p {
    font-size: 21px;
    text-align: justify;
    letter-spacing: 1px;
    word-break: break-all;
}

.typing-text p span {
    position: relative;
}

.typing-text p span.correct {
    color: #56964f;
}

.typing-text p span.incorrect {
    color: #cb3439;
    background: #ffc0cb;
    outline: 1px solid #fff;
    border-radius: 4px;
}

.typing-text p span.active {
    color: #17a2b8;
}

.typing-text p span.active::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    opacity: 0;
    width: 100%;
    background: #17a2b8;
    animation: blink 1s ease-in-out infinite;
}

@keyframes blink {
    50% {
        opacity: 1;
    }
}

.content-container .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 17px;
    padding: 12px 0;
    border-top: 1px solid #ccc;
}

.content button {
    border: none;
    outline: none;
    width: 105px;
    padding: 8px 0;
    color: #fff;
    background: #17a2b8;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.content button:active {
    transform: scale(0.97);
}

.content .result-details {
    display: flex;
    width: calc(100% - 114px);
    justify-content: space-between;
    list-style: none;
}

.result-details li {
    display: flex;
    height: 22px;
    align-items: center;
}

.result-details li:not(:first-child) {
    padding-left: 22px;
    border-left: 1px solid #ccc;
}

.result-details li p {
    font-size: 19px;
    display: flex;
}

.result-details li span {
    display: block;
    margin-left: 10px;
    font-size: 20px;
}

.result-details li:not(:first-child) span {
    font-weight: 600;
}

.result-details li span b {
    font-weight: 600;
}